<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AutomaticGraphLayout" version="1.1.11" targetFramework="net472" />
  <package id="AutomaticGraphLayout.Drawing" version="1.1.11" targetFramework="net472" />
  <package id="AutomaticGraphLayout.GraphViewerGDI" version="1.1.11" targetFramework="net472" />
  <package id="AutomaticGraphLayout.WpfGraphControl" version="1.1.11" targetFramework="net472" />
  <package id="GraphVizNet" version="1.0.2" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net472" />
</packages>